<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeBook</title>
    <link rel="icon" type="image/x-icon" href="Group (1).png">
    <style>
        #box{
            display:flex;
            align-items: center;
            flex-direction: column;
            width: 28vw;
            height: 36vw;
            border: 2px solid black;
            margin: auto;
            border-radius: 10px;
            margin-top: 10vw; 
        }
        img{
            width: 4vw;
            height: 4vw;
            margin-left: 20px;
            margin-right: 2vw;
        }
        h1{
            margin-top: 10px;
            width:20vw;
        }
        #log{
            display: flex;
            flex-direction: row;

        }
        form{
            display: flex;
            flex-direction: column;
        }
        input[type=text]
        {
            display: flex;
            justify-content: center;
            align-items: center;
            border: transparent;
            /* width: 24vw; */
            height: 3vw;
            border-bottom: 1px solid black;
            margin-top: 20px;
            margin-left: 10px;
            text-indent: 15px;
            font-size: large;
        }
        input::placeholder{
            /* text-align: center; */
            margin:auto;
            font-size: large;
        }
        input[type=password]
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24vw;
            height: 3vw;
            border: transparent;
            border-bottom: 1px solid black;
            /* border: 1px solid black; */
            margin-top: 20px;
            margin-left: 10px;
            /* border-radius: 10px; */
            /* background-color:#DFDBDB; */
            text-indent: 15px;
        }
        button
        {
            background-color: transparent;
            border: 0px solid transparent;
        }
        #inc{
            display: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: medium;
            opacity: 1;
            margin-left: 20px;
            color: red;
            margin-bottom: -20px;
        }
        #onk{
            display: block;
            font-family: 'Times New Roman', Times, serif;
            font-size: medium;
            opacity: 1;
            margin-left: 20px;
            color: red;
            margin-bottom: -20px;
        }
        .fina{
            width: 7vw;
            height: 3vw;
            margin: auto;
            margin-top: 30px;
            border-radius: 10px;
            background-color: #6393EB;
            color: rgb(255, 255, 255);
        }
        #sta1
        {
            width: 13vw;
            height: 5vw;
            background-color: transparent;
            border: 0px;
            margin-top: 10px;
            cursor: pointer;
            border-radius: 0px;
            border-right: 1px solid black;
            background-color: #6393EB;
            color: white;
            margin-left: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: large;
        }
        #sta2:hover{
            transition: 0.3s ease-in-out;
            background-color: #6393EB;
            color: white;
        }
        #sta2{
            width: 13vw;
            height: 5vw;
            background-color: transparent;
            border: 0px;
            margin-top: 10px;
            margin-left: -12px;
            cursor: pointer;
            border-radius: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: large;
        }
    </style>
</head>
<body>
    <div id="box">
        <div id="log">
            <button class="iop">
                <form action="signup" method="post">
                    <input type="submit" value="Signup" id="sta1">
                </form>
            </button >
            <button class="iop">
                <form action="login" method="post">
                    <input  type="submit" value="Login" id="sta2" onmouseover="onhov()" onmouseleave="onout()">
                </form>
            </button>
        </div>
            <form action="/log" method="post">
                <input type="text"  name="name1" placeholder="FirstName"  class="koo">
                <input type="text"  name="name2" placeholder="LastName" required class="koo">
                <input type="text" name="email" placeholder="Email" required class="koo">
                <input type="text" name="phone" placeholder="Phone Number" required class="koo" >
                <input type="password" name="pass" placeholder="Password" required class="koo">
                <h2 id="inc">Incorrect Email Provided</h2>
                <% if(c==1) { %>
                    <h2 id="onk">Please Provide Normal Mail id</h2>
                <% } %>
                <!-- <button type="submit">Signup</button> -->
                <button><input type="submit" placeholder="submit" class="fina"></button>
            </form>
    </div>
    <script>
        function onhov()
        {
            document.getElementById("sta1").style.backgroundColor="white";
            document.getElementById("sta1").style.color="Black";
        }
        function onout()
        {
            document.getElementById("sta1").style.backgroundColor="#6393EB";
            document.getElementById("sta1").style.color="white";
        }
    </script>
</body>
</html>